name: Run Tests

on:
  pull_request:

jobs:
  validate-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Display info
      run: | 
        pwd
        tree -a -I '.git'
        git status
        echo "Action: ${{ github.event.action }}"
        echo "Sender: ${{ github.event.sender }}"
    - name: Run tests and such
      run: sleep 60 && ./pr-check.sh
